body, html {
	height: 100%;
   	width: 100%;
   }
body {
/*Posicionando DivConteudo*/
	background: #1f2519;
   	display: -webkit-box;
   	-webkit-box-orient: vertical;
   	-webkit-box-pack: center;
   	-webkit-box-align: center;	
   	display: -moz-box;
   	-moz-box-orient: vertical;
   	-moz-box-pack: center;
   	-moz-box-align: center;
   	display: box;
   	box-orient: vertical;
   	box-pack: center;
   	box-align: center;
   }
   
  
h2 {
   	text-align:  center;	
   	margin: 0;
   	font-size: 50px;
   	line-height: 200px;
   	text-shadow: 2px 2px 3px black;
   	color: #5ca;
   	
   }
   
.conteudo {
   	width: 400px;
   	height: 200px;
   	cursor: pointer;
   	position: relative;	
	  -webkit-transition: all 1s;	
	  -moz-transition: all 1s;
     -o-transition: all 1s;
	  transition: all 1s;	
	
   }
   
/*As duas divs da DivConteudo*/
.conteudo > div {
	position: absolute;
	width: 100%; height: 100%;
	top: 0; left: 0;	
	background: #555555;	
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
   -o-transition:all .5s ease-in-out;
	transition: all .5s ease-in-out;
  
   }
/*Efeito Primeira div da DivConteudo*/ 
div:first-child {
    position: relative;
    z-index: 2;
   }
/*Efeito DivConteudo div*/ 
.conteudo:hover {
   	-webkit-transform: rotateY(180deg);
   	-moz-transform: rotateY(180deg);
   	transform: rotateY(180deg);   	   	
   }
  /*Efeito Primeira div da DivConteudo*/ 
.conteudo:hover > div:first-child {
	opacity: 0;
   }
  /*Efeito Ultima div da DivConteudo*/ 
.conteudo:hover div:last-child {
   	-webkit-transform: rotateY(180deg);
   	-moz-transform: rotateY(180deg);
   	transform: rotateY(180deg);
   }
   
   /*Efeito onMouseOver da DivConteudo*/
.conteudo:active {
	-webkit-transform: scale(2) rotateY(180deg);  
	}

  